 <div class="container mt-4">
    <div class="row">
        <div class="col-12"> 
              <!-- <p [innerHTML]="msgFromParent" class="alert alert-info"></p>   -->
          <app-child [getMsgFromParent]="msgFromParent"
        (sendMsgToParent)="getMsgFromChild($event)"></app-child> 

         <hr>

          <p class="alert alert-success"
        *ngIf="msgFromChild">{{msgFromChild}}</p>  


        </div>
         <div class="col-md-6">
            <!-- send to todo form html
            <div class="form-group">
                <label for="todo">Todo Item</label>
                <input type="text" #todo class="form-control" id="todo">
            </div>
            <div class="text-right"> -->
                 <!-- <button class="btn btn-primary"
                (click)="addSkill(todo)">
                Add Todo</button>  -->
                
             <!-- <button class="btn btn-primary"
                (click)="addSkill()">
                Add Todo</button>
                </div>  -->
            </div> 
        <div class="col-md-6 mt-4">
            <!-- send to todo list html
            <ul class="list-group" >
                <li class="list-group-item" *ngFor="let skill of skillsArray">
                    {{skill}}
                </li>
            </ul> -->
        </div>
    </div>
</div>
 
<hr>

 <div class="container">
    <div class="row">
        <div class="col-md-6">
            <app-todo-form
            (todoEmitter)="addSkillSet($event)"
            ></app-todo-form>
       </div> 
       <div class="col-md-6 mt-4">
        <app-todo-list 
        [getSkills]="skillsArray"></app-todo-list>
       </div>
    </div>
</div> 

<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <app-std-form (stdData)="getStdData($event)"></app-std-form>
             <!-- send to std-form -->
             
            <!-- <div class="form-group">
                <label for="fname">First Name</label>
                <input type="text" #fname id="fname" class="form-control">
            </div>
            <div class="form-group">
                <label for="lname">Last Name</label>
                <input type="text" #lname id="lname" class="form-control">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" #email id="email" class="form-control">
            </div>
            <div class="form-group">
                <label for="contact">Contact</label>
                <input type="text" #contact id="contact" class="form-control">
            </div>
            <div class="text-right">
                <button class="btn btn-primary"
                (click)="onAddStudent(fname,lname,email,contact)">
                Add Student</button>
            </div> -->
        
        </div>
        <div class="col-md-6 mt-4">
            <app-std-table [stdArr]="studentsArr"></app-std-table>
            <!-- send to std-table -->
            <!-- <div class="table-responsive">
                <div class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Sr no</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Contact</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let std of studentsArr; index as i">
                                <td>{{i+1}}</td>
                                <td>{{std.fname}}</td>
                                <td>{{std.lname}}</td>
                                <td>{{std.email}}</td>
                                <td>{{std.contact}}</td>
                            </tr>
                        </tbody>
                </div>
            </div> -->
        </div>
    </div>
</div>

<hr>

<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
             <div class="form-group">
                <label for="pName">Product Name</label>
                <input type="text" [(ngModel)]="pName" class="form-control" id="pName">
            </div>
            <div class="form-group">
                <label for="pDescription">Product Description</label>
                <textarea rows="4" [(ngModel)]="pDescription" class="form-control" id="pDescription"></textarea>
            </div>
            <div class="text-right">
                <button class="btn btn-primary"
                (click)="addProdCatg('Product')">Add Product</button>

                <button class="btn btn-primary ml-4"
                (click)="addProdCatg('Catlog')">Add Catlog</button>
            </div> 
        </div>

        <div class="col-md-6 mt-4">
             <div class="card mb-4" 
                *ngFor="let prodCard of prodArr">
                <div class="card-header text-white"
                [ngClass]="{
                    'bg-primary' : prodCard.pCatg === 'Product',
                    'bg-success' : prodCard.pCatg === 'Catlog'
                }">
                    <h2 class="m-0">
                        {{prodCard.pName}}
                    </h2>
                </div>
                <div class="card-body">
                        <p class="m-0">
                            {{prodCard.pDescription}}
                        </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button class="btn btn-primary">Edit</button>
                    <button class="btn btn-danger">Delete</button>
                </div>
            </div>
        </div> 
    </div>
</div> 

<hr>
<app-prod-form></app-prod-form>
<app-prod-card></app-prod-card>
 <!-- <div class="container">
    <div class="row">
        <div class="col-md-6">
            <div *ngFor="let prod of prodArr">
                <app-prod-card [getProd]="prod"></app-prod-card>

            </div>
        </div>

        <div class="col-md-6">
            <app-prod-form (prodData) ="getProdData($event)"></app-prod-form>
        </div>
    </div>
</div>          -->